.app {
  background: #11141f;
  height: 100vh;
  padding: 30px;
}

.todo-title{
  font-size: 28px;
  text-align: center;
}

.todo-list {
  margin: 10% auto ;
  background: #54399b;
  border-radius: 6px;
  max-width: 550px;
  padding: 10px 25px 25px 25px;
}

.todo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 18px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.button_complete, .button_delete{
  font-size: 14px;
  height: 25px;
  width: 25px;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
  background: #54399b;
  color: #fff;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 30px 0;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #54399b;
}