::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #1579d3;
    border-radius: 5px;
}

.app-wrapper{
    max-width: 500px;
    background-color: #fff;
    height: 500px;
    box-shadow: 0 0 10px #54399b;
    border-radius: 6px;
    margin: 60px auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    height: 30%;
    width: 100%;
    flex: 0 0 auto;
}

section{
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    max-height: 310px;

}
article{
    width: 100%;
    margin: 0 7px 0 20px;
    overflow-y: auto;
}

footer{
    color:white;
    background-color: #54399b;
    border-radius:0 0 5px 5px;
    text-align: center;
    font-size: 22px;
    padding: 7px;
    margin-top: 7px;
    flex: 0 0 auto;

}

